<template>

    <div class="service-block">
        <div class="service-block-text">
            <p>
                Сервис позволяет найти клиента в списке агенства финансового мониторинга
            </p>
        </div>
    </div>
</template>



<style lang="scss">


    .service-block {

        width: 100%;

        .service-block-text {
            color: #B58080;
            font-family: 'Inter';
            font-weight: 400;
        }
    }
</style>