<template>
    <div class="search-client-header-block">
        <div class="search-client-header">
            <p>
                Поиск клиента в АФМ
            </p>
        </div>
    </div>
</template>



<style lang="scss">


    .search-client-header-block {
        width: 100%;
        min-height: 17px;
        display: flex;
        justify-content: center;
        margin: 20px 0 40px;

        .search-client-header{

            p {
                text-align: center;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;
                color: #000000;
                font-weight: 400;
            }
        }

    }
</style>