<template>
  <div class="find-by-iin">
  <div class="search">
    
    <div class="input">
      <input
        type="number"
        placeholder="Введите ИИН"
        v-model="IIN"
      />
    </div>
    <div class="do-search">
      <button @click="getPerson">
        <p v-if="found === -1">Выполнить поиск</p>
        <p v-else>Выполнить новый поиск</p>
      </button>
    </div>    
  </div>

  <div class="is-found-client">
    <div class="is-found" v-if="found === 1">

      <p class="found-header">Клиент обнаружен</p>
      <p class="found-text">Проведение сделок с клиентом не рекомендуется</p>
    </div>
    <div class="not-found" v-else-if="found === 0">

      <p class="not-found-header">Клиент не обнаружен</p>
      <p class="not-found-text">Проведение сделок с данным клиентом возможно</p>
    </div>

  </div>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios from "axios";
import {persons} from "../api/db";

interface IIN {
  IIN: number | null;
  found: 1 | 0 | -1;
  persons: IPerson[];
}

interface IPerson {
  num: number,
  lname: string,
  fname: string,
  mname: string,
  birthdate: string,
  iin: number | string,
  note?: string,
  correction? : string;
}

export default defineComponent({
  name: 'Search',
  data(): IIN {
    return {
      IIN: null,
      found: -1,
      persons: []
    };
  },

  methods: {
    getPerson() {
      const result = this.persons.filter((person) => person.iin === this.IIN);
      if(result.length){
        this.found = 1;
        console.log(result);
      }
      else {
        this.found = 0;
      }
    }
  },

  mounted() {

    // persons.map((el) => {
    //   this.persons.push(el);
    // })
    this.persons = persons;
    console.log("arr", this.persons[0]);
  }

});


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .find-by-iin{
    height: 100%;

  }
  .search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20%;


    .do-search {
      button {
        width: 100%;
        min-height: 53px;
        background: #CBE3E9;
        border-radius: 6px;
        color: #000;
        box-shadow: none;
        border-width: inherit;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;

      }
    }

  }
    .is-found, .not-found {
      width: 100%;
      text-align: center;
      font-family: 'Inter';
    }
    .is-found {
      .found-header{
        color: #3E60B6;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
      }
    }
    .not-found{
      .not-found-header {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        color: #F01414;

      }
    }

  .is-found-client{
    height: 80%;
    display: flex;
    align-items: center;
  }

  input {
    width: 100%;
    min-height: 67px;
    border: 1px solid #F4DBDB;
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Inter';
    color: #000;
    font-weight: 400;
    font-size: 14px;
  }
</style>
