<template>

  <div class="main-block">
    <Header/>
    <Search/>
    <Footer/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Search from './components/Search.vue';
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';


export default defineComponent({
  name: 'App',
  components: {
    Search,
    Header,
    Footer,
  }
});
</script>

<style lang="scss">


  html {
    height: 100%;
  }
  body {
    height: 100%;
    overflow: hidden;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: none;
    height: 100%;
    padding: 40px 30px;
    box-sizing: border-box;

    
    @media (max-width: 480px){
      display: block;
    }
  }

  .main-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @font-face {
    font-family: 'Inter';
    src: url("../public/fonts/Inter-Regular.ttf");
  }
  
</style>
